<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vaultit.mobilesso.mobilessosdk">

    <application>

        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <activity android:name=".TokenExchangeActivity"
            android:allowBackup="false"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"
            android:launchMode="singleTask" />

        <activity android:name=".RedirectUriReceiverActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.nixu.virtualcardlib.logout" />
            </intent-filter>
        </activity>
    </application>

</manifest>
